@font-face {
  font-family: "Metro Photograph";
  src: url(../../fonts/MetroPhotograph-DemoVersion-Regular.otf);
}

@font-face {
  font-family: "South Amsterdam";
  src: url(../../fonts/South\ Amsterdam\ Demo.ttf);
}

@font-face {
  font-family: "Bernat Burnoe";
  src: url(../../fonts/Bernat\ Burnoe.ttf);
}

.title {
  font-size: 60px;
  font-weight: 600;
  font-family: "Metro Photograph", sans-serif;
}

.daily-item {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  border: 2px solid #212121;
  height: 50px;
  margin: 7px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 20px;
}

.icon-small {
  width: 50px;
}

.day {
  font-family: "South Amsterdam", sans-serif;
  font-size: 30px;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  font-weight: bold;
}

.min-max {
  color: #757575;
  font-weight: bold;
}

.daily-details-grid {
  display: grid;
  grid-row-gap: 0;
  row-gap: 0;
  grid-column-gap: 15px;
  column-gap: 15px;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
}

.daily-details-grid-item {
  font-family: "Bernat Burnoe";
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}
