/* .weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
} */

@font-face {
  font-family: "Metro Photograph";
  src: url(/src/fonts/MetroPhotograph-DemoVersion-Regular.otf)
    format("truetype");
}

@font-face {
  font-family: "Code";
  src: url(/src/fonts/CODE\ Bold.otf);
}

.weather {
  width: 375px;
  border-radius: 20px;
  border: 5px solid #add8e6;
  /* box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%); */
  background-color: #333;
  margin: 20px auto 15px auto;
  padding: 0 20px 20px 20px;
  font-family: "Code", sans-serif;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.city {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  color: #add8e6;
}

.weather-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 80px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.parameter-label.top {
  font-weight: 600;
  color: #add8e6;
}
