/* .weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
} */
@font-face {
  font-family: "FairfaxHaxHDMedium";
  src: url(/src/fonts/FairfaxHD.ttf) format("truetype");
}

.weather {
  width: 300px;
  border-radius: 10px;
  border: 7px solid #333;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  background-color: #fff;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "FairfaxHaxHDMedium", sans-serif;
  color: #333;
}

.city {
  font-weight: 600;
  font-size: 23px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}
