@font-face {
  font-family: "Metro Photograph";
  src: url(../src/fonts/MetroPhotograph-DemoVersion-Regular.otf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Metro Photograph";
  font-size: 23px;
  font-weight: bold;
  background-color: #fffaa0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
