@font-face {
  font-family: "Code";
  src: url(../src/fonts/CODE\ Bold.otf);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Code";
  font-size: 23px;
  font-weight: bold;
  /* background-color: #fdfd96; */
  /* background-color: #757575; */
  background: radial-gradient(
    circle at 5.3% 17.2%,
    rgb(255, 208, 253) 0%,
    rgb(255, 237, 216) 90%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
